.delete-container{
    height: 85px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 33, 40);
    font-weight: bold;
    font-size: 25px;
    color: white;
    border-radius: 45px;
    border: 2px solid white;
    cursor: pointer;
    user-select: none;
}

.delete-container:hover{
    background-color: rgb(255, 0, 8);
}